conky.config = {
	background = true,
	use_xft = true,
	font = '123:size=8',
	xftalpha = 1.0,
	update_interval = 2.0,
	total_run_times = 0,
	own_window = true,
	own_window_type = 'normal',
	own_window_transparent = true,
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
--        out_to_wayland = true,
        out_to_x = true,
	double_buffer = true,
	minimum_width = 260, minimum_height = 5,
	maximum_width = 260,
	draw_shades = true,
	draw_outline = false,
	draw_borders = true,
	draw_graph_borders = false,
	default_color = 'LightBlue',
	default_shade_color = 'black',
	default_outline_color = 'white',
	alignment = 'top_right',
	gap_x = 95,
	gap_y = 70,
	no_buffers = true,
	uppercase = false,
	cpu_avg_samples = 2,
	net_avg_samples = 1,
	override_utf8_locale = true,
	use_spacer = 'right',
        border_width = 0,
        lua_load = 'lua/radio.lua',
        lua_mouse_hook = 'mouse_handler',
        color1 = 'White',
        color2 = 'LightBlue',
        color3 = 'Red',
        color4 = 'Green',
        font1 = 'Arial:size=12',
        font2 = 'Arial:bold:size=14',
        font3 = 'Arial:bold:size=16',

};

conky.text = [[
${font3}${color2}${alignc}RADIO
${font2}${color2}RADIO TOOLS ${color2}${hr 2}
${offset 32}${voffset 14}${font1}${color1}ARDOP${offset 92}rigctld
${offset 32}${voffset 21}${font1}${color1}Direwolf${offset 80}kissattach
${offset 32}${voffset 21}${font1}${color1}Vara HF${offset 80}Vara FM
${offset 42}${voffset 21}${font1}${color1}FLRig${offset 68}SoundModem

${font2}${color2}DIGITAL APPS ${color2}${hr 2}
${offset 34}${voffset 14}${font1}${color1}JS8Call${offset 84}WSJTX
${offset 38}${voffset 21}${font1}${color1}FLDigi${offset 100}PAT
${offset 42}${voffset 21}${font1}${color1}Pulse${offset 100}Xastir

${if_running ardopc}${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 0,60}${else}${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 0,60}$endif
${if_running rigctld}${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 140,60}${else}${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 140,60}$endif
${if_running direwolf}${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 0,100}${else}${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 0,100}$endif
${if_running kissattach}${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 140,100}${else}${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 140,100}$endif
${if_running VARA.exe}${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 0,140}${else}${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 0,140}$endif
${if_running VARAFM.exe}${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 140,140}${else}${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 140,140}$endif
${if_running flrig}${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 0,180}${else}${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 0,180}$endif
${if_running QtSoundModem}${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 140,180}${else}${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 140,180}$endif

${if_running js8call}
${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 0,254}
${else}
${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 0,254}
$endif
${if_running wsjtx}
${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 140,254}
${else}
${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 140,254}
$endif
${if_running fldigi}
${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 0,294}
${else}
${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 0,294}
$endif
${if_running pat}
${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 140,294}
${else}
${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 140,294}
$endif
${if_running pavucontrol}
${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 0,334}
${else}
${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 0,334}
$endif
${if_running xastir}
${image /home/kd9yqk/ham314/conky/img/green_btn.png -s 128x32 -p 140,334}
${else}
${image /home/kd9yqk/ham314/conky/img/red_btn.png -s 128x32 -p 140,334}
$endif
]];
